

body {
    background-image:url(assets.img/fondo.png);
    background-color: hwb(0 100% 0%);
    font-size: 16px;
}

h2 {  
    font-size: 30px;  
    color: rgb(255, 255, 255);
    text-align: center;
    }

.encabezado {  
    text-align: center;  
    text-transform: uppercase;  
    font-weight: bold;  
    font-size: 50px;
    color: #ffffff;
    }


#fondo {  
    background-color: #ffffff; /* modificar el color a elección */
    }

p a {  
    color: #ffffff;  
    text-decoration: none;
    }

.imagen1 {
        display: flex;
    justify-content:baseline;
}

.imagen2 {
    display: flex;
justify-content:center;
}

.imagen3 {
    display: flex;
justify-content:end;
}
    
picture img {
    width: 20%;
    height: 20%; /*  width: ancho / height: alto*/ 
}

#opciones {
    text-align: center;
    list-style: none; /* elimina los puntitos (viñeta) */
}

#opciones li {
    display: inline-block; /* la lista la coloca horizontalmente */
    padding: 10px;
}

.imgport {
    width: 150px;
}