.body{
    background-image:url(assets.img/fondo.png);
}

body {
    background-color: hwb(0 100% 0%);
    font-size: 16px;
}

h2 {  
    font-size: 80px;  
    color: rgb(255, 255, 255);
    text-align: center;
    }

.encabezado {  
    text-align: center;  
    text-transform: uppercase;  
    font-weight: bold;  
    font-size: 180px;
    color: #ffffff;
    }


#fondo {  
    background-color: #ffffff; /* modificar el color a elección */
    }

p a {  
    color: #ffffff;  
    text-decoration: none;
    }

picture {
    display: flex;
    justify-content: center;
}

#imagen {
    display: flex;
    justify-content: end;
}

#imagen1 {
    display: flex;
    justify-content: baseline;
}